<a href="https://colab.research.google.com/github/somashekar95/CO2data_cleansing/blob/dev/CO2data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

#  1.Is the data in the same format (per column)?
df=pd.read_csv("data.csv")
df.info() # to find the column name ,count,data type
df.describe() # to find the count ,mean,std,min,25th,50th,75th percentile
df.shape # to find the size of the file(rows*column)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7385 entries, 0 to 7384
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Make                              7385 non-null   object
 1   Model                             7379 non-null   object
 2   Vehicle Class                     7385 non-null   object
 3   Engine Size(L)                    7382 non-null   float64
 4   Cylinders                         7379 non-null   float64
 5   Transmission                      7385 non-null   object
 6   Fuel Type                         7385 non-null   object
 7   Fuel Consumption City (L/100 km)  7385 non-null   float64
 8   Fuel Consumption Hwy (L/100 km)   7385 non-null   float64
 9   Fuel Consumption Comb (L/100 km)  7385 non-null   float64
 10  Fuel Consumption Comb (mpg)       7385 non-null   int64
 11  CO2 Emissions(g/km)               7385 non-null   int64
dtypes: float64(5), int64(2), object(5)
memory usage: 692.5+ KB

(7385, 12)

TO IDENTIFY,DROP AND FILL THE NULL VALUES

In [ ]:
# 2.Are there any null / missing values?
df.isnull().sum() # total null values in each column
df.fillna(0) # fill the null values with 0
df.dropna() # to drop the null values

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4.0,AS5,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4.0,M6,Z,11.2,7.7,9.6,29,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4.0,AV7,Z,6.0,5.8,5.9,48,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6.0,AS6,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6.0,AS6,Z,12.1,8.7,10.6,27,244
...,...,...,...,...,...,...,...,...,...,...,...,...
7380,VOLVO,XC40 T5 AWD,SUV - SMALL,2.0,4.0,AS8,Z,10.7,7.7,9.4,30,219
7381,VOLVO,XC60 T5 AWD,SUV - SMALL,2.0,4.0,AS8,Z,11.2,8.3,9.9,29,232
7382,VOLVO,XC60 T6 AWD,SUV - SMALL,2.0,4.0,AS8,Z,11.7,8.6,10.3,27,240
7383,VOLVO,XC90 T5 AWD,SUV - STANDARD,2.0,4.0,AS8,Z,11.2,8.3,9.9,29,232
7384,VOLVO,XC90 T6 AWD,SUV - STANDARD,2.0,4.0,AS8,Z,12.2,8.7,10.7,26,248

TO IDENTIFY AND REMOVE THE DUPLICATES

In [ ]:
# 2.Are no duplicates in the data?
df.duplicated().sum() # to find the total duplicated in dataset
df.loc[df.duplicated(),:] # to identify the duplicated rows
df.drop_duplicates(keep='first').shape # to drop the duplicates in dataset
df.duplicated(subset=['Make','Model']).sum() # to find the duplicates in  each columns

5327

TO FIND THE OUTLIERS FOR PER COLUMN

In [ ]:
# 4.Any outliers in the data (per column)?
# Outliers in Engine Size(L) column
max=df['Engine Size(L)'].quantile(0.95)
print(max)
min=df['Engine Size(L)'].quantile(0.05)
print(min)
df[df['Engine Size(L)']<min]
df[df['Engine Size(L)']>max]
df1=df[(df['Engine Size(L)']>min)& (df['Engine Size(L)']<max)]
df1

6.1

In [ ]:
# Outliers in Cylinders column
max=df['Cylinders'].quantile(0.95)
print(max)
min=df['Cylinders'].quantile(0.05)
print(min)
df[df['Cylinders']<min]
df[df['Cylinders']>max]
df2=df[(df['Cylinders']>min)& (df['Cylinders']<max)]
df2

8.0
4.0

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6.0,AS6,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6.0,AS6,Z,12.1,8.7,10.6,27,244
5,ACURA,RLX,MID-SIZE,3.5,6.0,AS6,Z,11.9,7.7,10.0,28,230
6,ACURA,TL,MID-SIZE,3.5,6.0,AS6,Z,11.8,8.1,10.1,28,232
7,ACURA,TL AWD,MID-SIZE,3.7,6.0,AS6,Z,12.8,9.0,11.1,25,255
...,...,...,...,...,...,...,...,...,...,...,...,...
7349,TOYOTA,Sienna,MINIVAN,3.5,6.0,AS8,X,12.6,9.1,11.0,26,259
7350,TOYOTA,Sienna AWD,MINIVAN,3.5,6.0,AS8,X,13.4,9.6,11.7,24,274
7353,TOYOTA,Tacoma 4WD,PICKUP TRUCK - SMALL,3.5,6.0,AS6,X,13.0,10.5,11.9,24,278
7354,TOYOTA,Tacoma 4WD,PICKUP TRUCK - SMALL,3.5,6.0,M6,X,13.8,11.4,12.7,22,299
7355,TOYOTA,Tacoma 4WD D-Cab TRD Off-Road/Pro,PICKUP TRUCK - SMALL,3.5,6.0,M6,X,13.8,11.7,12.9,22,300

In [ ]:
# Outliers in Fuel Consumption City (L/100 km) column
max=df['Fuel Consumption City (L/100 km)'].quantile(0.95)
print(max)
min=df['Fuel Consumption City (L/100 km)'].quantile(0.05)
print(min)
df[df['Fuel Consumption City (L/100 km)']<min]
df[df['Fuel Consumption City (L/100 km)']>max]
df3=df[(df['Fuel Consumption City (L/100 km)']>min)& (df['Fuel Consumption City (L/100 km)']<max)]
df3

19.2
8.0

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4.0,AS5,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4.0,M6,Z,11.2,7.7,9.6,29,221
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6.0,AS6,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6.0,AS6,Z,12.1,8.7,10.6,27,244
5,ACURA,RLX,MID-SIZE,3.5,6.0,AS6,Z,11.9,7.7,10.0,28,230
...,...,...,...,...,...,...,...,...,...,...,...,...
7380,VOLVO,XC40 T5 AWD,SUV - SMALL,2.0,4.0,AS8,Z,10.7,7.7,9.4,30,219
7381,VOLVO,XC60 T5 AWD,SUV - SMALL,2.0,4.0,AS8,Z,11.2,8.3,9.9,29,232
7382,VOLVO,XC60 T6 AWD,SUV - SMALL,2.0,4.0,AS8,Z,11.7,8.6,10.3,27,240
7383,VOLVO,XC90 T5 AWD,SUV - STANDARD,2.0,4.0,AS8,Z,11.2,8.3,9.9,29,232
7384,VOLVO,XC90 T6 AWD,SUV - STANDARD,2.0,4.0,AS8,Z,12.2,8.7,10.7,26,248

In [ ]:
# Outliers in Fuel Consumption Hwy (L/100 km) column
max=df['Fuel Consumption Hwy (L/100 km)'].quantile(0.95)
print(max)
min=df['Fuel Consumption Hwy (L/100 km)'].quantile(0.05)
print(min)
df[df['Fuel Consumption Hwy (L/100 km)']<min]
df[df['Fuel Consumption Hwy (L/100 km)']>max]
df4=df[(df['Fuel Consumption Hwy (L/100 km)']>min)& (df['Fuel Consumption Hwy (L/100 km)']<max)]
df4

13.2
6.1

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4.0,AS5,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4.0,M6,Z,11.2,7.7,9.6,29,221
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6.0,AS6,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6.0,AS6,Z,12.1,8.7,10.6,27,244
5,ACURA,RLX,MID-SIZE,3.5,6.0,AS6,Z,11.9,7.7,10.0,28,230
...,...,...,...,...,...,...,...,...,...,...,...,...
7380,VOLVO,XC40 T5 AWD,SUV - SMALL,2.0,4.0,AS8,Z,10.7,7.7,9.4,30,219
7381,VOLVO,XC60 T5 AWD,SUV - SMALL,2.0,4.0,AS8,Z,11.2,8.3,9.9,29,232
7382,VOLVO,XC60 T6 AWD,SUV - SMALL,2.0,4.0,AS8,Z,11.7,8.6,10.3,27,240
7383,VOLVO,XC90 T5 AWD,SUV - STANDARD,2.0,4.0,AS8,Z,11.2,8.3,9.9,29,232
7384,VOLVO,XC90 T6 AWD,SUV - STANDARD,2.0,4.0,AS8,Z,12.2,8.7,10.7,26,248

In [ ]:
# Outliers in Fuel Consumption Comb (L/100 km) column
max=df['Fuel Consumption Comb (L/100 km)'].quantile(0.95)
print(max)
min=df['Fuel Consumption Comb (L/100 km)'].quantile(0.05)
print(min)
df[df['Fuel Consumption Comb (L/100 km)']<min]
df[df['Fuel Consumption Comb (L/100 km)']>max]
df5=df[(df['Fuel Consumption Comb (L/100 km)']>min)& (df['Fuel Consumption Comb (L/100 km)']<max)]
df5

16.5
7.2

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4.0,AS5,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4.0,M6,Z,11.2,7.7,9.6,29,221
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6.0,AS6,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6.0,AS6,Z,12.1,8.7,10.6,27,244
5,ACURA,RLX,MID-SIZE,3.5,6.0,AS6,Z,11.9,7.7,10.0,28,230
...,...,...,...,...,...,...,...,...,...,...,...,...
7380,VOLVO,XC40 T5 AWD,SUV - SMALL,2.0,4.0,AS8,Z,10.7,7.7,9.4,30,219
7381,VOLVO,XC60 T5 AWD,SUV - SMALL,2.0,4.0,AS8,Z,11.2,8.3,9.9,29,232
7382,VOLVO,XC60 T6 AWD,SUV - SMALL,2.0,4.0,AS8,Z,11.7,8.6,10.3,27,240
7383,VOLVO,XC90 T5 AWD,SUV - STANDARD,2.0,4.0,AS8,Z,11.2,8.3,9.9,29,232
7384,VOLVO,XC90 T6 AWD,SUV - STANDARD,2.0,4.0,AS8,Z,12.2,8.7,10.7,26,248

In [ ]:
# Outliers in Fuel Consumption Comb (mpg) column
max=df['Fuel Consumption Comb (mpg)'].quantile(0.95)
print(max)
min=df['Fuel Consumption Comb (mpg)'].quantile(0.05)
print(min)
df[df['Fuel Consumption Comb (mpg)']<min]
df[df['Fuel Consumption Comb (mpg)']>max]
df6=df[(df['Fuel Consumption Comb (mpg)']>min)& (df['Fuel Consumption Comb (mpg)']<max)]
df6

39.0
17.0

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4.0,AS5,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4.0,M6,Z,11.2,7.7,9.6,29,221
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6.0,AS6,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6.0,AS6,Z,12.1,8.7,10.6,27,244
5,ACURA,RLX,MID-SIZE,3.5,6.0,AS6,Z,11.9,7.7,10.0,28,230
...,...,...,...,...,...,...,...,...,...,...,...,...
7380,VOLVO,XC40 T5 AWD,SUV - SMALL,2.0,4.0,AS8,Z,10.7,7.7,9.4,30,219
7381,VOLVO,XC60 T5 AWD,SUV - SMALL,2.0,4.0,AS8,Z,11.2,8.3,9.9,29,232
7382,VOLVO,XC60 T6 AWD,SUV - SMALL,2.0,4.0,AS8,Z,11.7,8.6,10.3,27,240
7383,VOLVO,XC90 T5 AWD,SUV - STANDARD,2.0,4.0,AS8,Z,11.2,8.3,9.9,29,232
7384,VOLVO,XC90 T6 AWD,SUV - STANDARD,2.0,4.0,AS8,Z,12.2,8.7,10.7,26,248

In [ ]:
# Outliers in CO2 Emissions(g/km) column
max=df['CO2 Emissions(g/km)'].quantile(0.95)
print(max)
min=df['CO2 Emissions(g/km)'].quantile(0.05)
print(min)
df[df['CO2 Emissions(g/km)']<min]
df[df['CO2 Emissions(g/km)']>max]
df6=df[(df['CO2 Emissions(g/km)']>min)& (df['CO2 Emissions(g/km)']<max)]
df6

354.0
169.0

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4.0,AS5,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4.0,M6,Z,11.2,7.7,9.6,29,221
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6.0,AS6,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6.0,AS6,Z,12.1,8.7,10.6,27,244
5,ACURA,RLX,MID-SIZE,3.5,6.0,AS6,Z,11.9,7.7,10.0,28,230
...,...,...,...,...,...,...,...,...,...,...,...,...
7380,VOLVO,XC40 T5 AWD,SUV - SMALL,2.0,4.0,AS8,Z,10.7,7.7,9.4,30,219
7381,VOLVO,XC60 T5 AWD,SUV - SMALL,2.0,4.0,AS8,Z,11.2,8.3,9.9,29,232
7382,VOLVO,XC60 T6 AWD,SUV - SMALL,2.0,4.0,AS8,Z,11.7,8.6,10.3,27,240
7383,VOLVO,XC90 T5 AWD,SUV - STANDARD,2.0,4.0,AS8,Z,11.2,8.3,9.9,29,232
7384,VOLVO,XC90 T6 AWD,SUV - STANDARD,2.0,4.0,AS8,Z,12.2,8.7,10.7,26,248